@using Entity.ViewModels

@{
	ViewData["Title"] = "Filter";
	Layout = "~/Views/Shared/_LayoutHotel.cshtml";
}
@model List<HotelViewModel>
<div class="hero-wrap js-fullheight" style="background-image: url('/themes/images/bg_1.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<br />

@foreach (var item in Model)
{
	<form asp-controller="Home" asp-action="Detail" asp-area="" method="get">

		<div class="col-sm col-md-6 col-lg-4 ftco-animate">
			<div class="destination">
				<a href="/Home/Detail/@item.HotelId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.PictureUrl);">

					<div class="icon d-flex justify-content-center align-items-center">
						<span class="icon-link"></span>
					</div>
				</a>
				<div class="text p-3">
					<div class="d-flex">
						<div class="one">
							<h3><a href="#">@item.Name</a></h3>

						</div>
						<div class="two">
							<span class="price per-price">40<br><small>/night</small></span>
						</div>
					</div>
					<p>@item.Description</p>
					<hr>
					<p class="bottom-area d-flex">
						<span><i class="icon-map-o"></i> @item.Address</span>
						<span class="ml-auto"><a href="#">Book Now</a></span>
					</p>
				</div>
			</div>
		</div>
	</form>
}

<section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>Bültenimize katılın</h2>
					<p>Yeniliklerden haberdar olmak için bültenimize katılın!</p>
					<div class="row d-flex justify-content-center mt-5">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex">
									<input type="text" class="form-control" placeholder="Mail adresinizi girin">
									<input type="submit" value="Abone Ol" class="submit px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>