<!DOCTYPE html>
<html lang="en">
<head>
    <title> WissenTrips</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/themes/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/css/animate.css">

    <link rel="stylesheet" href="~/themes/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/themes/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/themes/css/magnific-popup.css">

    <link rel="stylesheet" href="~/themes/css/aos.css">

    <link rel="stylesheet" href="~/themes/css/ionicons.min.css">

    <link rel="stylesheet" href="~/themes/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/themes/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/themes/css/flaticon.css">
    <link rel="stylesheet" href="~/themes/css/icomoon.css">
    <link rel="stylesheet" href="~/themes/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">WissenTrips</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link"> Anasayfa </a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link"> Hakkımızda </a></li>
                    <li class="nav-item"><a href="places.html" class="nav-link"> Oteller </a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1 ml-auto me-2">
                            <li class="nav-item">
                                <a class="nav-link text-dark">Hoş geldin @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link">Kayıt Ol</a></li>
                        <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link">Giriş Yap</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="container col-md-12">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">WissenTrips</h2>
                        <p>Gidilecek, gezilecek, konaklanacak harika yerleri bulun!.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
                            <li><a href="#" class="py-2 d-block">Bize Ulaşın</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik Sözleşmesi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Kuloğlu Mh., Barbaros Blv. Yıldız İş Hanı No:9, 34353 Beşiktaş/İstanbul</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text"> (0212) 381 50 00 </span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@wissenakademie.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | wissentrips.com bir Grup-5 ürünüdür! <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Grup-5!</a>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/themes/js/jquery.min.js"></script>
    <script src="~/themes/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/themes/js/popper.min.js"></script>
    <script src="~/themes/js/bootstrap.min.js"></script>
    <script src="~/themes/js/jquery.easing.1.3.js"></script>
    <script src="~/themes/js/jquery.waypoints.min.js"></script>
    <script src="~/themes/js/jquery.stellar.min.js"></script>
    <script src="~/themes/js/owl.carousel.min.js"></script>
    <script src="~/themes/js/jquery.magnific-popup.min.js"></script>
    <script src="~/themes/js/aos.js"></script>
    <script src="~/themes/js/jquery.animateNumber.min.js"></script>
    <script src="~/themes/js/bootstrap-datepicker.js"></script>
    <script src="~/themes/js/jquery.timepicker.min.js"></script>
    <script src="~/themes/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/themes/js/google-map.js"></script>
    <script src="~/themes/js/main.js"></script>

</body>
</html>
